@model SimpleEmployeeApp.Models.DTOs.EmployeeDTO
@{
    ViewData["Title"] = "Edit Employee";
}
<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<!--
    firstName
    middleInitial
    lastName
    address
    dateOfBirth
    socialSecurityNumber
-->
<div class="container">
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="firstName">First Name:</label>
            <input type="text" asp-for="firstName" class="form-control" placeholder="@Model.firstName" />
        </div>

        <div class="form-group">
            <label asp-for="middleInitial">Middle Initial:</label>
            <input type="text" asp-for="middleInitial" class="form-control" placeholder="@Model.middleInitial" />
        </div>

        <div class="form-group">
            <label asp-for="lastName">Last Name:</label>
            <input type="text" asp-for="lastName" class="form-control" placeholder="@Model.lastName" />
        </div>

        <div class="form-group">
            <label asp-for="address">Address:</label>
            <input type="text" asp-for="address" class="form-control" placeholder="@Model.address" />
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="city">City:</label>
                <input type="text" asp-for="city" class="form-control" placeholder="@Model.city" />
            </div>

            <div class="form-group col-md-4">
                <label asp-for="state">State:</label>
                <input type="text" asp-for="state" class="form-control" placeholder="@Model.state" />
            </div>

            <div class="form-group col-md-2">
                <label asp-for="zip">Zip:</label>
                <input type="text" asp-for="zip" class="form-control" placeholder="@Model.zip" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="dateOfBirth">Date Of Birth:</label>
            <input type="text" asp-for="dateOfBirth" class="form-control" placeholder="@Model.dateOfBirth" />
        </div>

        <div class="form-group">
            <label asp-for="socialSecurityNumber">Social Security Number:</label>
            <input type="text" asp-for="socialSecurityNumber" class="form-control" placeholder="@Model.socialSecurityNumber" />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>