@model IEnumerable<SimpleEmployeeApp.Models.DomainModels.Employee>
@{
    ViewData["Title"] = "Employee";
}
<h1>@ViewData["Title"]</h1>

<!-- Bootstrap Container, table of Employees -->

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">EmployeeId</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle Initial</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">social Security Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.firstName</td>
                    <td>@emp.middleInitial</td>
                    <td>@emp.lastName</td>
                    <td>@emp.address</td>
                    <td>@emp.dateOfBirth</td>
                    <td>@emp.socialSecurityNumber</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a asp-controller="Employee" asp-action="Add" class="btn btn-primary">Add Employee</a>
</div>